

.contenedor {
    display: flex;
    flex-wrap: wrap;
    border: 2px dotted black;
    height: 900px;
}

.item { 
    width: 100px;
    height: 100px;
    border: 1px solid black;
}



.item:nth-of-type(20){/* div 6 */
    align-self: flex-end;
}

.item:nth-of-type(odd){
    background-color: pink;
}

.item:nth-of-type(even){
    background-color: yellow;
}